<DModal @title={{title}} @closeModal={{action closeModal}}>
  <:body>
    <div class="avatar-decoration-group-users">
      <div class="add-users-section">
        <h3>{{i18n "avatar_decorations.admin.add_users"}}</h3>
        
        <div class="user-search">
          <Input 
            @value={{searchTerm}}
            @placeholder={{i18n "avatar_decorations.admin.search_users"}}
            @enter={{action "searchUsers"}}
            class="user-search-input" />
          <DButton @action={{action "searchUsers"}} @icon="search" class="btn-primary" />
        </div>
        
        {{#if searchResults}}
          <div class="search-results">
            {{#each searchResults as |user|}}
              <div class="user-result" {{action "selectUser" user}}>
                <img src={{user.avatar_template}} class="avatar" alt={{user.username}}>
                <span class="username">{{user.username}}</span>
              </div>
            {{/each}}
          </div>
        {{/if}}
        
        {{#if selectedUsers}}
          <div class="selected-users">
            <h4>{{i18n "avatar_decorations.admin.selected_users"}}</h4>
            {{#each selectedUsers as |user|}}
              <div class="selected-user">
                <img src={{user.avatar_template}} class="avatar" alt={{user.username}}>
                <span class="username">{{user.username}}</span>
                <DButton @action={{action "removeSelectedUser" user}} @icon="times" class="btn-small" />
              </div>
            {{/each}}
            
            <DButton 
              @action={{action "addUsers"}} 
              @label="avatar_decorations.admin.add_selected_users"
              class="btn-primary add-users-button"
              @disabled={{adding}}
              @icon={{if adding "spinner" "plus"}} />
          </div>
        {{/if}}
      </div>
      
      <div class="current-users-section">
        <h3>{{i18n "avatar_decorations.admin.current_users"}}</h3>
        
        {{#if loading}}
          <div class="spinner"></div>
        {{else}}
          {{#if currentUsers.length}}
            <div class="user-list">
              {{#each currentUsers as |user|}}
                <div class="user-item">
                  <img src={{user.avatar_template}} class="avatar" alt={{user.username}}>
                  <span class="username">{{user.username}}</span>
                  <DButton 
                    @action={{action "removeUser" user}} 
                    @icon="trash-alt" 
                    class="btn-danger btn-small" />
                </div>
              {{/each}}
            </div>
          {{else}}
            <p>{{i18n "avatar_decorations.admin.no_users_assigned"}}</p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </:body>
  
  <:footer>
    <DButton @action={{action closeModal}} @label="close" class="btn-primary" />
  </:footer>
</DModal>
