<DModal @title={{title}} @closeModal={{action closeModal}}>
  <:body>
    <div class="avatar-decoration-form">
      <div class="input-group">
        <label for="decoration-name">{{i18n "avatar_decorations.admin.name"}}</label>
        <Input @type="text" @value={{name}} id="decoration-name" class="decoration-name" />
      </div>
      
      <div class="input-group">
        <label for="decoration-image">{{i18n "avatar_decorations.admin.image_url"}}</label>
        <Input @type="text" @value={{imageUrl}} id="decoration-image" class="decoration-image" />
      </div>
      
      {{#if imageUrl}}
        <div class="decoration-preview">
          <label>{{i18n "avatar_decorations.admin.preview"}}</label>
          <img src={{imageUrl}} alt="Preview" class="decoration-image-preview" />
        </div>
      {{/if}}
    </div>
  </:body>
  
  <:footer>
    <DButton @action={{action closeModal}} @label="cancel" class="btn-cancel" />
    <DButton @action={{action "save"}} @label="save" class="btn-primary" @disabled={{saving}} />
  </:footer>
</DModal>
