{{#if this.siteSettings.avatar_frame_enabled}}
  <div class="badge-avatar-frame-settings">
    <h3>{{i18n "admin.badges.avatar_frame_settings"}}</h3>

    <div class="control-group">
      <label class="checkbox-label">
        {{input type="checkbox" checked=this.model.avatar_frame_enabled}}
        {{i18n "admin.badges.avatar_frame_enabled"}}
      </label>
    </div>

    {{#if this.model.avatar_frame_enabled}}
      <div class="control-group">
        <label>{{i18n "admin.badges.avatar_frame_url"}}</label>
        {{input
          type="text"
          value=this.model.avatarFrameUrl
          class="input-xxlarge"
        }}
      </div>

      <div class="control-group">
        <button type="button" {{action "uploadAvatarFrame"}} class="btn">
          {{i18n "admin.badges.upload_avatar_frame"}}
        </button>
      </div>

      {{#if this.model.avatarFrameUrl}}
        <div class="badge-avatar-frame-preview">
          <img src="https://via.placeholder.com/80" alt="Avatar placeholder" />
          <div
            class="badge-avatar-frame"
            style={{html-safe
              (concat "background-image: url('" this.model.avatarFrameUrl "')")
            }}
          ></div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}