<div class="avatar-decoration-groups-admin">
  <h1>{{i18n "avatar_decorations.admin.groups.title"}}</h1>
  
  <div class="admin-controls">
    <div class="buttons">
      <DButton @action={{action "createGroup"}} @icon="plus" @label="avatar_decorations.admin.create_group" class="btn-primary" />
    </div>
  </div>
  
  {{#if loadingGroups}}
    <div class="spinner"></div>
  {{else}}
    <table class="avatar-decoration-groups-list">
      <thead>
        <tr>
          <th>{{i18n "avatar_decorations.admin.groups.name"}}</th>
          <th>{{i18n "avatar_decorations.admin.groups.decorations"}}</th>
          <th>{{i18n "avatar_decorations.admin.groups.users_count"}}</th>
          <th>{{i18n "avatar_decorations.admin.groups.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each groups as |group|}}
          <tr>
            <td>{{group.name}}</td>
            <td>{{group.decorations_count}}</td>
            <td>{{group.users_count}}</td>
            <td class="actions">
              <DButton @action={{action "manageUsers" group}} @icon="users" class="btn-default" />
              <DButton @action={{action "editGroup" group}} @icon="pencil-alt" class="btn-default" />
              <DButton @action={{action "deleteGroup" group}} @icon="trash-alt" class="btn-danger" />
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4" class="no-groups">{{i18n "avatar_decorations.admin.no_groups"}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
