<div class="avatar-decorations-admin">
  <h1>{{i18n "avatar_decorations.admin.title"}}</h1>
  
  <div class="avatar-decorations-list">
    {{#each model as |decoration|}}
      <div class="avatar-decoration-item">
        <div class="avatar-decoration-image">
          <img src="{{decoration.image_url}}" alt="{{decoration.name}}">
        </div>
        <div class="avatar-decoration-info">
          <h3>{{decoration.name}}</h3>
          <div class="avatar-decoration-groups">
            <label>{{i18n "avatar_decorations.admin.allowed_groups"}}</label>
            {{group-selector
              groups=decoration.groups
              onChange=(action "updateDecorationGroups" decoration)
            }}
          </div>
        </div>
        <div class="avatar-decoration-controls">
          <button {{action "editDecoration" decoration}} class="btn btn-default">
            {{d-icon "pencil-alt"}}
          </button>
          <button {{action "removeDecoration" decoration}} class="btn btn-danger">
            {{d-icon "trash-alt"}}
          </button>
        </div>
      </div>
    {{/each}}
  </div>
  
  <div class="avatar-decoration-new">
    <button {{action "newDecoration"}} class="btn btn-primary">
      {{i18n "avatar_decorations.admin.add_new"}}
    </button>
  </div>
</div>
